.portfolio-container
{
    display: flex;
    height: 100vh;
    overflow: hidden;
    
}
  
.main-content 
{
  /* margin-left: 14%;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 500%; /* Adjust based on the number of sections
  overflow-x: scroll;
  scroll-behavior: smooth;  */
}
  
.content-section 
{
  position: sticky;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;

  color: white;
}
  
#about 
{
  background-color: transparent;
  margin-top: 16px;
  text-align: justify;
}

@keyframes about_appears
{
  from {
    transform: translateY(-1000px);
    opacity: 0;
    scale: 0.5;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
    scale: 1;
  }
}

.about-me-layer
{
  animation: about_appears 1s linear ease-in
}


@keyframes img_appears
{
  from 
  {
    /* transform: translate(100px, 100px); */
    opacity: 0;
    scale: 0.25;
  }
  to{
    /* transform: translate(10px, 10px); */
    opacity: 1;
    scale: 1;
  }
}
.mid-layer
{
  animation: img_appears 2s linear ease-in
}

#education
{
  background-color: transparent;

}

#education #additional-training p
{
  text-align: end;
}

@keyframes edu_appears {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translate(-800px);
    /* box-shadow: 2px 2px 8px cyan, -2px -2px 8px magenta; */
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translate(0);
    /* box-shadow: 2px 2px 8px magenta, -2px -2px 8px cyan; */
  }
}

@keyframes shakeEdu {
  0% {     
    box-shadow: 1px 2px magenta, -1px -1px cyan;
    transform: translateX(-1);
  } 
  50% {
    box-shadow: 2px 2px black, -1px -1px whitesmoke;
    transform: translateX(1);

  }
  100% { 
    box-shadow: 1px 1px cyan, -1px -1px magenta;
    transform: translateX(0);

  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0);
    scale: 1;
  }
  to {
    opacity: 0;
    transform: translate(-400px, -100px);
    scale: 0.5;
  }
}

.description-container {  
  animation: edu_appears 5s ease-in-out, fadeOut 5s ease-in-out; 
  animation-timeline: view();
  animation-range: entry 0, exit 0;
}

.description-container:hover 
{
  animation: shakeEdu 0.05s infinite ease-in-out;  
}

/* .description-container {  
  animation: fadeOut 1s ease-out; 
  animation-timeline: view();
  animation-range: exit 0;
} */



#work 
{
  background-color: #00000000;
}

#contacts
{
  background-color: #00000000;
}

@media (max-width: 1024px) 
{
  .content-section 
  {
    padding: 0;
    margin: 0;
  }
}  

@media (max-width: 868px) 
{
  .app 
  {
    /* position: absolute; */
    background-color: rgb(129, 125, 168);
    height: 100vh;
    width: 100vw;
    transform-origin: none;
    transform: rotate(0) translateX(0);
    overflow: auto;
    scroll-behavior:smooth;
    scroll-snap-type: mandatory;
    scroll-snap-stop: always;
    scrollbar-width: none;

  }

  .container /*parallex-wrapper*/
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    transform-origin: top;
    transform: rotate(0) translateY(0);
    background: black;
    perspective: 300px;
  }  
 
  .content-section .top-layer
  {
    width: 100%;
  }

  .content-section .top-layer h1 
  {

  }

  #about .intro-layer
  {
    width: 100%;
  }

  #about .about-me-layer,
  #about .about-me-layer .about-me-container
  {
    height: max-content;
    text-align: center;
  } 

  .shadow-text
  {
    font-size: 46px;
    color: magenta;
    text-shadow: magenta 1px 1px 8px;
    top: px; /* This creates the top offset */
    left: 19px;
    margin-left: -4px;
  }
  
  .highlight-text 
  {
    font-size: 48px;
    font-weight: 700;
    color: cyan;
    top: 0; /* This is the base position */
    left: -8px;
    margin-right: -8px;
  }

  .content-section#about
  {    
    padding: 32px;
    display: flex;  
    min-height: 100vh;
  }

  .about-info
  {
    width: 86%;
  }

  .about-info h1, 
  .about-info h2, 
  .about-info .name, 
  .about-info .smry
  {
    width: 100%;
    text-align: right;
    z-index: 1;
  }
  
  .about-info h1 span
  {
   
    font-size: 3rem;
    text-align: right;
  }

  .about-info h2
  {
    font-size: 28px;
  }
  .about-info h3
  {
    font-size: 20px;
  }

  #about .about-info .name, .smry
  {
    /* background: rgba(0, 0, 0, 0.753); */
    text-shadow: black 0 0 16px;
    padding: 0 8px;
  }
  #about .about-info .smry
  {
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.226);
    text-shadow: rgb(8, 0, 78) 0 0 16px;
    padding: 0 8px;
  }
  #about .about-info h1
  {
    font-size: 32px;
  }

  #about .about-me-layer,
  #about .about-me-container  
  { width: 100%;}
  #about .about-me-layer p
  {
    font-size: small;
  }

  .mid-layer
  {
    position: absolute;  
    top: 0; 
    background: transparent;
    z-index: -1;
  }

  .content-section#education
  {
    padding: 4%;
    padding-bottom: 64px;
    display: flex;
    align-items: start;
    justify-content:center;
  }
  #education .edu-bg-container .timeline-content
  {
    padding: 0;
    margin-bottom: 8px;
    width: 100%;
  }

  .timeline-content .description-container
  {
    padding: 0;
    margin: 0;
    width: 100%; 
  } 
  .description-container img
  {
    width: 128px;
    height: 128px;
  }
  .description-details
  {
    background: rgba(0, 0, 0, 0.87);
    padding: 4px 0;
  }

  #tertiary ul li:nth-of-type(2) img 
  {
    /* width: 86px; */
    height: 32px;
  }
  #tertiary ul li:nth-of-type(2) .description-details
  {
    background: rgba(255, 255, 255, 0.87);
  }
  
  #education #additional-training p
  {
    text-align: start;
  }
  #education #additional-training .description-container
  {
    width: 100%;
  }
  #additional-training .description-container .info
  {
    background: rgba(0, 0, 0, 0.8);
  }

  .description-container small
  {
    font-size: 11px;
  }

  .description-container p
  {
    font-size: 14px;
  }

  #education #additional-training img
  {
    height: 48px;
  }   

 

  .contact-container 
  {
    /* background-color: aliceblue; */
    flex-direction: column;
    margin: 0;
  }

}