:root {
    --blue-500: hsl(215, 51%, 70%);
    --cyan-400: hsl(178, 100%, 50%);
    --blue-950: hsl(217, 54%, 11%);
    --blue-900: hsl(216, 50%, 16%);
    --blue-800: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--blue-950);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
  }
  
  .card {
    background-color: var(--blue-900);
    border-radius: 15px;
    padding: 1.5rem;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1.5rem;
  }
  
  .nft-image {
    width: 100%;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card-image:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
  
  .view-icon {
    width: 40px;
    height: 40px;
  }
  
  .card-title {
    color: var(--white);
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  .card-title:hover {
    color: var(--cyan-400);
    cursor: pointer;
  }
  
  .card-description {
    color: var(--blue-500);
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--blue-800);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  
  .price, .time {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.9rem;
  }
  
  .price span {
    color: var(--cyan-400);
    font-weight: 400;
  }
  
  .time span {
    color: var(--blue-500);
  }
  
  .card-creator {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
  }
  
  .card-creator img {
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
  }
  
  .card-creator p {
    color: var(--blue-500);
  }
  
  .card-creator span {
    color: var(--white);
    font-weight: 400;
    transition: color 0.3s ease;
  }
  
  .card-creator span:hover {
    color: var(--cyan-400);
    cursor: pointer;
  }

  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color:rgb(196, 221, 255);
    text-align: left;

  }

  