.weather-card {
    /* width: 97%; */
    height: 100%;
    position: relative;
    padding: 64px 32px;
    background-color: #1d1d1d;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.cloud {
    position: absolute;
    left: 10%;
}

.cloud svg {
    height: 120px;
}

.weather-card .main-text {
    font-size: 48px;
    text-align: left;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 8px;
    z-index: 2;
}

.weather-card .info {
    display: flex;
    justify-content: space-between;
}

.weather-card .info .text-gray {
    color: rgba(235, 235, 245, 0.60);
}

.weather-card .info .info-left {
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    padding: 32px 0;
}

.weather-card .info .info-right {
    align-self: center;
    text-align: right;
    font-size: 13px;
}

.weather-city-input {
    border: none;
    border-bottom: 1px solid #bde5f5;
    background: transparent;
    color: white;
    font-weight: 500;
    width: 127px;
    font-size: 1em;
    outline: none;
    margin-right: 4;
    padding: 2px;
}