/* Container for the projects */
.projects-container 
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding: 1rem 2rem;
    padding-bottom: 64px;
    width: 96%;
    height: 100vh;
    margin-left: 128px;

    overflow-y: scroll;
    
  }
  
  /* Common styles for all cards */
  .project-card 
  {
    position: relative;
    max-height: 256px;
    max-width: 680px;
    height: 258px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
  }
  
  /* Card Header */
  .project-header 
  {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    color: white;
    background: rgba(0, 0, 0, 0.726);
    padding: 8px;
    text-align: start;
  }
  
  .project-subtitle 
  {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.6;
  }
  
  .project-title 
  {
    font-size: 1.25rem;
    font-weight: 500;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  }

  .project-title2
  {
    font-size: 0.75rem;
  }
  
  /* Project Image */
  .project-image 
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .project-card:hover .project-image 
  {
    transform: scale(1.05);
  }
  
  /* Footer */
  .project-footer 
  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.75);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-text 
  {
    font-size: 0.65rem;
    color: rgb(0, 0, 0);
  }
  
  .notify-btn,
  .get-app-btn 
  {
    width: 128px;
    background: #89c603;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease;
  }
  
  .notify-btn:hover,
  .get-app-btn:hover 
  {
    background: #7bb202;
  }
  
  .footer-left 
  {
    display: flex;
    align-items: center;
  }
  
  .footer-icon 
  {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .footer-info p 
  {
    margin: 0;
    font-size: 0.875rem;
    color: rgb(0, 0, 0);
    text-align: start;
  }
  
  .project-with-footer {
    grid-column: span 12;
  }
  
  .project-with-footer .project-card {
    grid-column: span 12;
  }
  
  .project-with-footer:nth-child(5) {
    grid-column: span 7;
  }
  
  @media (min-width: 640px) {
    .project-card {
      grid-column: span 4;
    }
  
    .project-with-footer {
      grid-column: span 5;
    }
  
    .project-with-footer:nth-child(5) {
      grid-column: span 7;
    }
  }

  