:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--violet) url('./images/bg-desktop.svg') no-repeat center top/cover;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2rem;
}

header img {
    max-width: 200px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    
    margin: 2rem auto;
}

.illustration img {
    max-width: 100%;
}

.content {
    flex: 1;
    max-width: 500px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 2rem;
    line-height: 1.6;
}

.btn {
    background: white;
    color: var(--violet);
    border: none;
    border-radius: 50px;
    padding: 1rem 5rem;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: background 0.3s, color 0.3s;
}

.btn:hover,
.btn:focus {
    background: var(--soft-magenta);
    color: white;
}

footer {
    position: sticky;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 32px;
    margin-top: auto;
    text-align: center;
    background-color: var(--soft-magenta);
}

.socials {
    position: absolute;
    bottom: 4rem;
    right: 8rem;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.socials a:hover,
.socials a:focus {
    background: white;
    color: var(--violet);
}

.socials a:hover svg,
.socials a:focus svg {
    fill: var(--violet);
}

.socials svg {
width: 20px;
height: 20px;
fill: white;
}

.attribution {
    font-size: 12px;
    text-align: start;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    body {
        background: var(--violet) url('./images/bg-mobile.svg') no-repeat center top/cover;
        padding: 1rem;
    }

    main {
        flex-direction: column;
        text-align: center;
    }

    .content {
        max-width: 100%;
    }

    .socials {
        position: relative;
        bottom: 0;
        right: 0;
    }

    .attribution {
        font-size: 11px;
        margin-top: 0.5rem;
    }
}