/* Container for the tech stack */
.tech-stack-container
{
    position: absolute;
    bottom: 4px;
    left: 7%;
    width: 86%;
    height: 45px;
    overflow: hidden;
    /* background-color: #222; */
    padding: 4px ;
    text-align: center;
    border-radius:64px;
}

/* Main container that holds all tech items */
.tech-stack
{
    display: flex;
    flex-wrap: nowrap; /* Don't wrap the items to the next line */
    animation: scroll-right-to-left 20s linear infinite; /* Apply scrolling animation */
}

/* Individual tech item */
.tech-item
{ 
    display: flex;   
    flex-direction: row;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 4px 16px;
    margin-right: 8px; /* Space between items */
    border-radius: 32px;
    font-size: 12px;
    width: 128px;
    gap:4px;
}

.tech-icon 
{
    width: 24px;
    height: 24px;
}

/* Define the scroll animation */
@keyframes scroll-right-to-left {
    0%
    {
        opacity: 0.05;
        transform: translateX(100%); /* Start position: off-screen right */

    }
    5%
    {
        opacity: 0.75;
    }

    95%
    {
        opacity: 0.75;
    }
    100%
    {
        opacity: 0.55;
        transform: translateX(-100%); /* End position: off-screen left */
    }
}
