
#skills 
{
  background: #00000000;
}

#skills h3 
{
  color: #e0e0e0;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 8px;  
}

.github-matrix {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 8px;
  background: #2321367a;
  border-radius: 10px;
  box-shadow: 0 2px 12px #0002;
}

.skills-matrix 
{
    width: 100%;
    max-width: 900px;
    height: 50vh;  
    margin-top: 0.75rem;
    padding: 0.2rem;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    overflow-y: auto;   
    scrollbar-width: none;
    scroll-behavior: smooth;
}  
 
.skills-table 
{
  width: 100%;
  border-collapse: collapse;
}

.skills-table th,
.skills-table td 
{
  padding: 16px;
  text-align: left;
  /* border-bottom: 1px solid #ff95f60e; */
  font-size: 1rem;
}

.skills-table th 
{
  background-color: black;
  color: cyan;
  border: rgba(0, 255, 255, 0.144) 1px solid;
  box-shadow: cyan 0 2px 8px;
  font-weight: 600;
  position: sticky;
  top: -14px; /* Sticks to the top when scrolling */
  z-index: 1;
  
}

.skills-table td 
{
  background-color: #ffffff0e;
  color: whitesmoke;
}

.skill-with-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.skill-icon {
  width: 24px;
  height: 24px;
}

.proficiency-bar 
{
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.bar
{
  height: 100%;
  border-radius: 4px;
}

.bar.beginner 
{
  background-color: rgb(255, 208, 0);
}

.bar.intermediate 
{
  background-color: cyan;
}

.bar.advanced 
{
  background-color: magenta;
}  
.skills-table tr:hover 
{
  background-color: #f1f1f1;   
  font-weight: bold;
  animation: shakeRow 0.05s infinite ease-in-out;
}
.skills-table tr:hover td
{
  color: black;
  animation: shakeTxt 0.05s infinite ease;
}

.skills-table tr:hover .proficiency-bar
{
  animation: shakeRow 0.025s infinite ease-in-out;  
}
.skills-table tbody tr
{
  animation: skill_appears 5s linear, skill_fadeout linear;
  animation-timeline: view();
  animation-range: entry 50% cover 17%, exit 0% cover 100%;
}

@keyframes skill_appears
{
  from 
  {
    opacity: 0;
    scale: 0.25;    
    transform: translate(0px, 64px);    
    box-shadow: #f1f1f1 0 -16px 48px 16px;
  }
  to
  {
    opacity: 1;
    scale: 1;
    transform: translate(0);
  }
}

@keyframes skill_fadeout
{
  from 
  {
    opacity: 1;
    scale: 1;    
    transform: translate(0);
  }
  to
  {
    opacity: 0;
    scale: 0;
    transform: translate(0px, 50px);    
    box-shadow: magenta 0 -16px 32px 8px;
  
  }
}

@keyframes shakeRow {
  0% {     
    box-shadow: 1px 0px magenta, -1px -1px cyan;
    transform: translateX(-1);
  } 
  50% {
    box-shadow: 0px 1px rgb(199, 186, 0), -1px -1px whitesmoke;
    transform: translateX(1);

  }
  100% { 
    box-shadow: 1px 1px cyan, -1px -1px magenta;
    transform: translateX(0);

  }
}

@keyframes shakeTxt {
  0% 
  {     
    text-shadow: 1px 0px magenta, -1px -1px cyan;
    transform: translateX(-1);
  } 
  50% 
  {
    text-shadow: 0px 1px rgb(0, 0, 0), -1px -1px whitesmoke;
    transform: translateX(1);
  }
  100% 
  { 
    text-shadow: 1px 1px cyan, -1px -1px magenta;
    transform: translateX(0);
  } 
}

@media (max-width: 768px) 
{
  .skills-matrix 
  {
    width: 90%
  }

  .skills-table tr 
  {
    height: 64px;
  }

  .skills-table th, .skills-table td 
  {
    padding: 4px;
    font-size: 12px;
  }

}




