/* src/SymbolCircle.css */
.circle-container 
{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-25%, -50%); 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Allow interaction with other elements behind the container */
  /* overflow: hidden;  */
  background: transparent;

}

.symbol-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.8;
  border: 2px solid #3f3f3f0e;
  animation-timing-function: linear;
  color: rgba(105, 105, 105, 0.747);
}

.symbol 
{
  position: absolute;
  font-size: 28px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 100;
  opacity: 0.8;
  transform-origin: center;
}

@keyframes rotateCircle
{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
