* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root /*main-container*/
{

 
}

.app 
{
  position: absolute;
  /* background-color: rgb(2, 0, 24); */
  height: 100vw;
  width: 100vh;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior:smooth;
  scroll-snap-type: both mandatory;
  scroll-snap-stop: always;
  scrollbar-width: none;

}

.container /*parallex-wrapper*/
{
  display: flex;
  width: 100vw;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
  background: black;
  perspective: 300px;
}

.content-section
{
  position: relative;
  width:  100vw;
  height: 100vh;
  transform-style: preserve-3d;
  scroll-snap-align: start;
}

.content-section .top-layer
{   
  width: 75%;
  text-align: center;
  margin-top: 16px;
}

.content-section .top-layer h1
{
  text-shadow: rgb(0, 255, 255) 1px 0px 8px, rgb(255, 0, 200) -1px 0px 8px;
  font-size: 36px;
  font-weight: 700;
}

.content-section .top-layer p
{
  text-shadow: rgb(0, 255, 255, 0.5) 1px 0px, rgba(255, 0, 200, 0.5) -1px 0px;
  font-size: 18px;
  font-weight: 400;
}

.content-section#home
{
  /* scroll-snap-align: end; */
  padding: 0;
  padding-left: 16%;
  display: flex;
  align-items: start;
  justify-content:center;
}
#home .intro-layer
{
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:center;  
  z-index: 1;
}
.base-layer
{
  position: absolute;
  inset: 0;
  top:4%;
  right: -8%;
  background: transparent;
  transition: all 3s;
}
.base-layer.onAboutPage
{
  top:-16%;
  right: -92%;
  transition: all 1.5s;
}
.mid-layer
{
  position: absolute;
  /* inset: 0; */
  top: 4%;
  right: 16%;
  transform: scale(1);
  background: transparent;
  z-index: 1;
  transition: all 2s;
}

.mid-layer::before
{
  position: absolute;
  /* inset: 0; */
  top: 4%;
  right: 16%;
  transform: scale(0);
}

.mid-layer.onAboutPage
{
  right: -40%;
  transition: all 2s;
}
.mid-layer img
{
  width:860px
}
#home .intro-info
{
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:center;
  
}
.intro-info h1 span
{
  color: whitesmoke;
  font-size: 8rem;
  text-shadow: 2px 2px magenta, -1px -1px cyan;
  animation: shake 0.025s infinite alternate ease-in-out;

}
.intro-info h1 span:hover
{
  color:black;
  /* font-size: 62px; */  
}

@keyframes shake 
{
  0%{ 
    transform: translateX(0px);
    text-shadow: 1px 1px magenta, -1px -1px cyan;
   } 
   50%{
    transform: translateX(-1px);
    text-shadow: -1px -1px black, 1px -1px whitesmoke;
   }
  100%{ 
    transform: translateX(1px);
    text-shadow: 1px 1px cyan, -1px -1px magenta;

  }
}

.intro-info h2
{
  font-size: 48px;
  color:rgb(216, 216, 216)
}
.intro-info h3
{
  font-size: 32px;
}

span 
{
  display: inline-block;
  position: relative;
}

.shadow-text 
{
  font-size: 50px;
  color: cyan;
  top: px; /* This creates the top offset */
  left: 19px;
  margin-left: -4px;
}

.highlight-text 
{
  font-size: 52px;
  font-weight: 700;
  color: magenta;
  top: 0; /* This is the base position */
  left: -8px;
  margin-right: -8px;
}

.content-section#about-me
{
}

.content-section#skills
{
}
.content-section#skills .top-layer
{ 
}

.content-section#work 
{
  
}
.content-section#work .top-layer
{
 
}

.content-section#contacts
{  

}


/* .content-section#contacts .top-layer p
{
  font-size: 18px;
} */

/* .contact-container 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 2rem;
  margin-left: 100px;
  
  overflow-y: auto;
  scrollbar-width: none;

}

.contact-header 
{
  text-align: center;
  margin-bottom: 2rem;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.contact-subtitle
{
  font-size: 1.2rem;
  color: #ffffff;
}

.contact-details
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}

.contact-details .contact-item 
{
  flex: 1 1 45%; 
  display: flex;
  flex-direction: row;
 
  align-items: center;
  min-width: 250px; 
  background: #161616;
  border: #ddd solid 1px;
  box-shadow: #ddd 0 0 16px -8px;
  padding-top: 8px;
}

.contact-item .icn
{
  width: 86px;
  font-size: 32px;
}

.contact-item h3 
{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #0073e6;
  text-shadow: #c1dffd44 0 0 4px;
}

.contact-item ul 
{
  list-style: none;
  padding: 0;
}

.contact-item li 
{
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #ddd;  
}

.contact-item a 
{
  text-decoration: none;
  color: #0073e6;
}

.contact-form 
{
  margin-top: 0.1rem;
  padding: 1rem;
  padding-bottom: 1.5rem;
  height: max-content;
  box-shadow: 1px 1px magenta, -1px -1px cyan;
  border-radius: 5px;

}

.contact-form h3 
{
  font-size: 1.5rem;
  text-align: center;
  border-bottom: #ddd solid 1px;
}

.form-group 
{
  margin-bottom: 1rem;
}

.form-group label 
{
  font-size: 1rem;
  font-weight: bold;
}

.form-group input, .form-group textarea 
{
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 1px;
  box-shadow: 1px 1px magenta, -1px -1px cyan;

}

.form-group textarea 
{
  height: 150px;
  min-width: 256px;
}

.submit-btn 
{
  padding: 0.8rem 1.5rem;
  background-color: #0012241c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 1px 1px magenta, -1px -1px cyan;
}

.submit-btn:hover 
{
  background-color: #f1f1f1;
  color: #161616;
  box-shadow: 1px 1px cyan, -1px -1px magenta;
  text-shadow: 0px 0px 1px rgb(255, 0, 119), 0px 0px 1px cyan;
} */
