:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.993);
  background-color: #00000ab2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
  background-color: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #000000;
  }
  a:hover {
    color: #00b42d;
  }
  button {
    background-color: #f9f9f9;
  }
}

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Modal Background */
.chat-modal 
{
  position: fixed;
  top: 8%;
  left: 2%;
  width: 60%;
  height: 90vh;
  background: #121212;
  /* border: 2px solid #00ff00; */
  border-radius: 8px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  /* overflow:hidden */
}

.chat-modal.maximized 
{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.chat-modal.restored 
{
  top: 10%;
  left: 20%;
  width: 60%;
  height: 90%;
}

/* Modal Content */
.chat-modal-content 
{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1px;
}

/* Chat Header */
.chat-header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #00ff00;
  padding: 20px; 
}

.chat-controls 
{
  display: flex;
  gap: 16px;
}

.control-btn 
{
  background: transparent;
  color: #00ff00;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.minimized-chat
{
  position: fixed;
  top: 92%;
  /* left: 92%; */
  right: 4%;
  background-color: rgba(0, 0, 0, 0.842);
  color: #00ff00;
  padding: 10px;
  border: #00ff00 solid 1px;
  border-radius: 16px;
  border-bottom-right-radius: 0;
  box-shadow: 2px 2px 8px 4px rgba(235, 235, 235, 0.14);
  cursor: pointer;
  z-index:1
}

.minimized-chat:hover
{
  color:rgb(255, 43, 89);
  padding: 10px;
  border: rgb(255, 0, 55) solid 1px;
  box-shadow: 2px 2px 8px 4px rgba(238, 160, 160, 0.14);

}




